@charset "UTF-8";

/* paleta de cores
    verde: #49a09d
    lilas: #5f2c82

*/
*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
body, html {
    background-color: #602c82cb;
    width: 100vw;
    height: 100vh;
}
main {
    position: relative;
    width: 100vw;
    height: 100vh;
}
section#login {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
 background: white;
 width: 250px;
 height: 500px;
 border-radius: 20px;
 box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.76);
 transition: width .5s, height .5s;
 transition-timing-function: ease;
}
section#login > div#imagem {
    display: block;
background: url(../imagem/img.jpg) no-repeat;
height: 200px;
background-size: cover;
border-radius: 20px 20px 0px 0px;
}
section#login > div#formulario {
    display: block;
padding: 10px;
}
div#formulario >p {
    font-size: 0.8em;
}
.campo {
    background-color: #5f2c82;
    height: 45px;
    border-radius: 5px;
    margin: 5px 0px;
    color: white;
}
div.campo > label {
display: none;
}
div.campo > span {
    width: 40px;
    text-align: center;
}
div.campo > input {
    background-color: #49a09d;
    font-size: 1em;
    border-radius: 6px;
    height: 39px;
    margin-top: 3px;
    border: none;
    
}

.entrar {
    display: block;
    margin-top: 10px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.349);

}
.entrar:hover {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    background-color: #377976;
    cursor: pointer;
}
.botao {
    display: block;
    background-color: #49a09d;
    padding: 1px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 5px auto 0px auto;
}
.botao:hover {
    box-shadow: 0px 0px 10px #0c1a19;
    border: 1px solid rgba(0, 0, 0, 0.192);
}